body, html {
  margin: 0;
}

body {
  text-align: center;
  background-color: #10012c;
}

h6 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
  text-decoration: underline 3px;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
  color: #FEF2BF;
  text-align: left;
  line-height: 2;
  margin: -2% 5% 0 5%;
}

footer {
  margin-top: 2%;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  color: #fef2bfc7;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

h1#level-title {
  margin-top: 200px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.home {
  background-image: url("images/bg.jpeg");
  background-size: cover;
}

.home-header {
  margin: 0;
  padding: 0;
}

section.heading {
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 2;
}

section.about {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  display: contents;
  justify-content: center;
  align-items: center;
}

section.game {
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  #level-title {
    font-size: 1.5rem;
  }
  .btn {
    height: 100px;
    width: 100px;
  }
}